body {
  background-color: #0aa;
  font-family: helvetica;
}

.todo-list {
  background-color: #fff;
}

.todo-list ul {
  padding: 10px;
}

.todo-list li {
  list-style: none;
  padding: 5px;
  font-size: 30px;
  border-bottom: 2px solid #ededed;
}

.todo-list input[type='checkbox'] {
  display: none;
}

.todo-list input[type='checkbox'] + label {
  background: url('/assets/checkbox-blank.png') left center no-repeat;
  background-size: 30px;
  padding-left: 40px;
}

.todo-list input[type='checkbox']:checked + label {
  background: url('/assets/checkbox-marked.png') left center no-repeat;
  background-size: 30px;
  padding-left: 40px;
}
