doctype html
html(lang="en")
  head
    meta(charset="UTF8")
    title Koa Boilerplate
    link(rel='stylesheet', href='/main.css')
  body
    h1 Koa Boilerplate
    p Welcome to KoaJS!
    #hello
    #counter
    #content
    script(src="bundle.js")
