doctype html
html(lang="en")
  head
    meta(charset="UTF8")
    title Koa Boilerplate
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  body
    #content
    script(src="bundle.js")
